.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.center-loader {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#dark .loader {
    border-color: var(--clr-white);
}