.header {
    margin-bottom: 2rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.input-container {
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.search-icon {
    position: absolute;
    font-size: 1.4rem;
}

.search-input {
    padding-left: 30px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
}

.select-region {
    height: 40px;
    padding-inline: .8rem;
    width: 170px;
    background-color: transparent;
    border: none;
    padding-inline-start: 0.6rem;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.select-region option {
    width: 100%;
}

#dark .input-container {
    background-color: var(--dark-blue-dm-elements);
}

#dark .search-input {
    color: var(--clr-white);
}

#dark .select-region {
    background-color: var(--dark-blue-dm-elements);
    color: var(--clr-white);
}