.nav {
    padding-block: 1rem;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.1rem;
    font-weight: 700;
}

.mode-btn {
    background-color: transparent;
    border: none;
    gap: .5rem;
    font-size: 1rem;
}

.mode-icon {
    font-size: 1.5rem;
}

#dark .mode-icon {
    color: var(--clr-white);
}